{% extends 'base.html' %}

{% block body %}
<h1 class="user_welcome"></h1>
<div class="main">
    <div class="prev_chats">
        <div class="bot">
            <p class="greetings"></p>
        </div>
    </div>
    <form id="chat_form" class="unselectable">
        {% csrf_token %}
        <div class="input_control">
            <div class="row">
                <input type="text" id="input_box" placeholder="Chat with me">
                <i class='bx bx-microphone' id="mic_toggle">
                    <span class="mic_msg">Click here to Turn on Microphone</span>
                </i>
            </div>
            <div class="mic_warning"> </div>
            <button class="btn">Submit</button>
        </div>
    </form>
</div>
{% include "./footer.html" %}
{% endblock body %}


