@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

:root{
    --primary-color: #7EC8E3;
    --body-bg: #050A30;
    --primary-bg: #000C66;
    --text-primary: #E9EAEC;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background: var(--body-bg);
    color: var(--text-primary);
    font-family: 'Roboto Slab', serif;
}
h1{
    text-align: center;
    margin: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.redirect{
    display: flex;
    justify-content: center;
}
.redirect a{
    text-decoration: underline;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.2rem;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
.main{
    width: 100%;
    background: var(--primary-bg);
    padding: 2rem;
    border-radius: 0.5rem;
}
@media screen and (max-width: 540px) {
    .main{
        padding: 1rem 0.5rem;
    }
}
.prev_chats{
    padding: 1rem 0.5rem;
    background: var(--body-bg); 
    border-radius: 0.5rem;
    display: grid;
    row-gap: 1rem;
}
.prev_chats .bot,.user{
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 70%;
}
.prev_chats .bot{
    justify-self: flex-start;
    background: #145DA0;
}
.prev_chats .bot p{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.prev_chats .bot p i{
    background: var(--body-bg);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.prev_chats .user{
    background: #2E8BC0;
    justify-self: flex-end;
}
form{
    /* background: green; */
    padding: 1rem 0.5rem;
    padding-bottom: 0;
    text-align: center;
}
form .row{
    display: flex;
    position: relative;
}
form .row input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
form .row input:focus{
    outline: none;
}
form .row i{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: var(--body-bg);
    border-radius: 0 0.1rem 0.2rem 0;
    padding: 0.5rem 1rem;
    color: var(--text-primary);
}
form .row i span{
    position: absolute;
    top: -3rem;
    right: -5rem;
    font-size: smaller;
    width: 210px;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: black;
    border-radius: 0.1rem;
    /* color: black; */
    display: none;
}
form .row i:hover span{
    display: block;
}
form .mic_warning{
    margin: 1rem 0;
}
form .btn{
    /* background: gainsboro; */
    border-radius: 0.2rem;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: bolder;
    transition: 0.3s ease;
}
form .btn:hover{
    border-bottom: 3px solid var(--primary-color);
}
footer{
    margin: 1rem auto;
    text-align: center;
    width: 100%;
}